.ct_green_up{
    color: #269300;
}

.ct_dark_grey_bg1{

    padding: 15px;
    border-radius: 10px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    height: 100%;
    border-top: 2px solid #19aee9;
    background-color: #ffffff42;
}
.ct_dark_grey_bg1 h4{
    font-size: 20px;
    font-weight: 600;
}
.ct_fs_24{
    font-size: 24px;
    font-weight: 600;
}

.ct_grid_5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
}