.ct_custom_btn_500 {
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(25, 174, 233);
    margin-top: 3px;
    width: 120px;
    color: white;
    /* height: 35px; */
    padding: 10px 15px;
}