
<app-header style="padding: 0px; border-bottom: 0px; height: 80px " class="ct_remove_side_bar_10
"></app-header>
<!-- <div style="height: 30px;"></div> -->
<section class="py-5 px-4 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_20 ct_fw_600">Organisation Structure</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/main_tree/view">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/tree.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> Tree </h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/user">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/user_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Add User</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/setGhgTemplate">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/set_ghg_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Set GHG Template</h4>

                    </div>
                    
                    

                </div>
            </div>
             <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Dashboard</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/dashboard/ghgEmission">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/ghg_dashboard_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">GHG Dashboard</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/kpiDashboard">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/kpi_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> KPI Dashboard</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/financeDash">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/finanace_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Financed E. Dashboard</h4>

                    </div>
                    
                    

                </div>
            </div>

             <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">GHG Emissions</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/tracking">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/corporate_emission_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Corporate Emissions</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/finance_emissions">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/finanaced_emission_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">  Financed Emissions </h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/dataProgress">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/data_progress_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> Data Progress</h4>

                    </div>
                      <div class="ct_menu_card" routerLink="/kpi_inventory">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/emission_inventory_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">  Emissions Inventory</h4>

                    </div>
                      <div class="ct_menu_card" routerLink="/cost_centre">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/cost_center_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Cost Centre</h4>

                    </div>
                    
                    
                    

                </div>
            </div>

            <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Vendor</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/vendors">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/vendor_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Vendors</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/vendorDashboard">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/vendor_dashboard_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> Vendor Dashboard</h4>

                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Reporting</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/report">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/report_icon22.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Report</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/GhgReporting">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/ghg_emiission_report_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">GHG Emissions Report</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/brsrReport">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/brsr_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">BRSR</h4>

                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Target Setting</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/setEmissionInventory">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/set_emission_inventory_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Set Emission Inventory</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/targetSetting">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/target_setting_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Target Setting</h4>

                    </div>
                     <div class="ct_menu_card" routerLink="/actions">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/actions_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> Actions</h4>

                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Carbon offsetting</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/carbonOffset">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/offset_entry_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> Offset Entry</h4>

                    </div>
                    
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Account Details</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/company-profile">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/company_profile_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Company Profile</h4>

                    </div>
                    <div class="ct_menu_card" routerLink="/billing">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/billing_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500"> Billing</h4>

                    </div>
                    
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <h4 class="ct_fs_20 ct_fw_600">Others</h4>
                <div class="ct_grid_5 mt-4">
                    <div class="ct_menu_card" routerLink="/attachments">
                        <div class="ct_menu_card_icon">
                            <img src="assets/img/attachment_icon.svg" alt="">
                        </div>
                        <h4 class="mb-0 ct_fs_16 ct_fw_500">Attachments</h4>

                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!--🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶 Old Setting page content S 🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶-->
<!-- 
<app-header style="padding: 0px; border-bottom: 0px; height: 80px " class="ct_remove_side_bar_10
"></app-header>

<div class="content-wrapper mt-5 pt-5">

    <section>
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="ct_setting_menu_links">
                        <ul>
                            <li>
                                <a routerLink="/dashboard"><i class="fa-solid fa-gauge-high mr-2"></i>Dashbaord</a>
                            </li>
                            <li>
                                <a routerLink="/tracking"><i class="fa-solid fa-gauge-high mr-2"></i>Corporate GHG Emissions</a>
                            </li>
                            <li>
                                <a routerLink="/report"><i class="fa-solid fa-chart-column mr-2"></i>Reports</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    

                </div>

            </div>
        </div>
    </section>
</div>

<p-dialog  [(visible)]="visible" 
    [style]="{width: '50vw'}" class="ct_overflow_hidden_hide_585">
    <p-header > Hazardous Non-Hazardous Waste Type</p-header>

    <div class="modal-body text-white text-style Dashboard-tab">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ct_setting_box_bg_12 px-0 mt-0 pt-0">
                           
                        
                            <div class="row" [ngClass]="this.updatedtheme === 'dark' ? 'main-boxD' : 'main-boxL'">
                                <div class="col-12">
                                    <div class="ct_company_profile_input">
                                        <label for="industryType" class="mt-3 mb-2 text-dark">Hazardous</label>
                                        <div class="">
                                            <p-multiSelect class="ct_select_2_full_width12 ct_input_dark_text_145 ct_select_2_full_width12" placeholder="Please select" [options]="wasteGrid" [(ngModel)]="hazadrous" [ngModelOptions]="{standalone: true}"   optionValue="type"
                                            optionLabel="type" display="chip"
                                            name="sub_category"></p-multiSelect>
                                        </div>
                                    </div>
                    
                                    <div class="ct_company_profile_input">
                                        <label for="secondaryIndustryType" class="mt-3 mb-2 w-100  text-dark">Non Hazardous</label>
                                        <p-multiSelect class="ct_select_2_full_width12 ct_input_dark_text_145 ct_select_2_full_width12" placeholder="Please select" [options]="wasteGrid" [(ngModel)]="non_hazadrous" [ngModelOptions]="{standalone: true}"   optionValue="type"
                                            optionLabel="type" display="chip"
                                            name="sub_category"></p-multiSelect>
                                    </div>
                    
                                    
                    
                                    <div class="row mt-5">
                                        <button  type="submit" class="px-3 ct_animation_btn_121" (click)="saveChanges()">
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                    
                                
                                
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </section>
    </div>
</p-dialog>


<p-dialog  [(visible)]="visible2" class="ct_overflow_hidden_hide_585" 
    [style]="{width: '50vw'}">

    <p-header >Set Current Year</p-header>
    <div class="modal-body text-white text-style Dashboard-tab ">
      
        <section>
            <div class="container-fluid">
             
                <div class="row">
                    <div class="col-md-12">
                        <div class="ct_setting_box_bg_12 pt-0 mt-0 px-0">
                            
                            <div class="row" [ngClass]="this.updatedtheme === 'dark' ? 'main-boxD' : 'main-boxL'">
                                <div class="col-12">
                                    <div class="ct_company_profile_input">
                                        <label for="industryType" class="mt-3 mb-2 text-dark">Year Type</label>
                                        <div class="">
                                            <p-dropdown
                                            class="ct_select_op_input"
                                            ngModel [options]="yearType"  [(ngModel)]="yearSelect" placeholder="Select type"
                                            optionLabel="year" optionValue="id"
                                            name="yearType" #units="ngModel">
                                        </p-dropdown>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <button  type="submit" class="px-3 ct_animation_btn_121" (click)="saveCurrency()">
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                    
                                
                                
                            </div>
                              
                        </div>
    
                    </div>
    
                </div>
            </div>
        </section>
    </div>
</p-dialog> -->


<!--🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶 Old Setting page content S 🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶🔶-->